*{
    font-family: 'Roboto', sans-serif;
    
}
p{
    font-size: 12px;
}
header div .top-header{
    background-color: yellow;
}
header{
    background-color:aqua;
}
body{
    background-color:aqua;
}
header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header div .logo{
    background-color: yellow;   
}

div.burger-menu{
    text-align: center;
}
div.burger-menu i
{
    background-color: yellow;
    height: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 20px;
    border-radius: 5px;
}
h3
{
    font-size: 24px;
    color: red;
}
article div .price
{
    font-size: 18px;
    color: white;
}
article div .discount
{
    font-size: 16px;
    color: hotpink;
}
header ul li a{
    text-decoration: none;
    color: #000;
}

.footer{
    
    text-align: center;
}
.icons
{
    font-size: 2em;
    color: hotpink;
    margin-bottom: 10px;
}
.lema 
{
    text-align: center;
}

article .main-article i
{
    color: indigo;
}
article .imagenes
{ 
    background-color: lightcoral;
}
article .imagenes:hover {
    background-color: gold;
}


